<div class="mint-bg centering">
    <div class="home-bg small-none">
        <div class="row">
            <div class="col-6">
                <div class="stack-btn">
                    <button class="btn-style btn-position">
                        Stack
                    </button>
                </div>
                <div class="array-btn">
                    <button class="btn-style btn-position">
                        Array
                    </button>
                </div>
                <div class="linked-list">
                    <button class="btn-style btn-position">
                        Linked List
                    </button>
                </div>
                <div class="queues-btn">
                    <button class="btn-style btn-position">
                        queues
                    </button>
                </div>
            </div>
            <div class="col-6">
                <div class="tree-btn">
                    <button class="btn-style btn-position">
                        Tree
                    </button>
                </div>
                <div class="graph-btn">
                    <button class="btn-style btn-position">
                        Graph
                    </button>
                </div>
                <div class="tables-btn">
                    <button class="btn-style btn-position">
                        Tables
                    </button>
                </div>
                <div class="sets-btn">
                    <button class="btn-style btn-position">
                        Sets
                    </button>
                </div>
            </div>

        </div>

    </div>
    <div class="container small-show">
        <h2 class="blue-heading">Data Structure</h2>
        <ul id="accordion" class="accordion">
            <li>
                <div class="link">Linear Data Structure<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="#">Stack</a></li>
                    <li><a href="#">Linked List</a></li>
                    <li><a href="#">Arrays</a></li>
                    <li><a href="#">Queues</a></li>
                </ul>
            </li>
            <li>
                <div class="link">Non-Linear Data Structure<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="#">Tree</a></li>
                    <li><a href="#">Graph</a></li>
                    <li><a href="#">Tables</a></li>
                    <li><a href="#">Sets</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>