<mat-toolbar style="background-color:#00203F">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon style="color:white">menu</mat-icon>
    </button>
    <span style="color:white">DSA</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>
 

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12 mt-5">
      <h1 class="fw-semibold" style="font-size: 40px;">Welcome to Team DSA</h1> 
        <p class="fw-normal mTop1">
          Your comprehensive resource for mastering Data Structures and Algorithms! Whether you're a beginner seeking a solid foundation or an experienced programmer looking to enhance your problem-solving skills, we've got you covered.
        </p>
    </div>
    <div class="col-lg-6 col-sm-12 mTop3">
      <!-- <img src="../../../assets/images/img1.jpg" class="img1 d-block mx-auto"/>
      <img src="../../../assets/images/flow-diagram.png" class="img1 d-block mx-auto"/> -->
      <img src="../../../assets/images/algo.png" class="img1 d-block mx-auto"/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
      <h2>Why DSA is important to learn:</h2>
      <ul style="list-style:none;">
        <li>
          <p><img style="width:25px; margin-top: -3px;" src="../../../assets/images/list.png" alt="">&nbsp;Efficiency: Data Structures and Algorithms (DSA) provide efficient ways to store, organize, and manipulate data, allowing for optimized code execution and faster program performance.</p>
        </li>
        <li>
          <p><img style="width:25px; margin-top: -3px;" src="../../../assets/images/list.png" alt="">&nbsp;Problem Solving: DSA equips programmers with the ability to analyze complex problems and devise effective solutions. It enhances logical thinking and enables the development of algorithmic problem-solving skills, which are essential in various domains such as software development, data analysis, artificial intelligence, and more.</p>
        </li>
        <li>
          <p><img style="width:25px; margin-top: -3px;" src="../../../assets/images/list.png" alt="">&nbsp;Scalability: DSA plays a crucial role in building scalable applications that can handle large datasets and increasing user demands. By choosing appropriate data structures and implementing efficient algorithms, developers can ensure that their software can scale and perform well under heavy workloads.</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-lg-6 mBottom2 mTop2 mx-auto myCustomAlignment">
    <div class="rainbow text-center mt-5">
      <button class="btn btn-primary btn-lg">Explore More</button>
    </div>
  </div>
  <div class="col-lg-6 mb-5">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="avatar text-center"><img src="../../../assets/images/email.png" alt="logo" class="w-50 mt-1"></div>
        <mat-card class="newsletter">
          <mat-card-content>
            <h3 class="fw-medium text-center" style="color: #fff;">Join our newsletter for the latest updates.</h3> 
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Enter Email Address" aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-primary" type="button" id="button-addon2"><img src="../../../assets/images/send-mail.png" alt=""></button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
</div>


  <div class="container">
  <div class="row mTop3">
    <div class="col-lg-6 mTop3 text-center">
      <!-- <img src="../../../assets/images/ds.png" class="w-75"/> -->
      <img src="../../../assets/images/algorithm.png" class="w-25"/>
      <img src="../../../assets/images/sorting.png" class="w-25"/>
      <img src="../../../assets/images/grph.png" class="w-25"/>
    </div>
    <div class="col-lg-6 mTop3 mtop7 text-center">
      <p class="fw-normal">Our carefully curated content provides in-depth explanations and practical examples of various data structures.including arrays, linked lists, stacks, queues, trees, and graphs. Gain a deep understanding of fundamental algorithms such as sorting, searching, and graph traversal, and learn how to optimize your code for efficiency.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 ">
      <p class="fw-normal mTop4">We believe in a hands-on approach to learning. That's why we offer interactive coding with real world scenarios in four different programming languages: Python, Java, C, and JavaScript. With these language options, you can choose the one that aligns with your preferences to broaden your skill set.</p>
    </div>
    <div class="col-lg-6 mTop5">
      <div class="row">
        <div class="col-lg-6">
          <div class="language-list">
            <div class="card mt-3">
              <div class="card-body">
                <img src="../../../assets/images/c-img.svg"/> C Programming
              </div>
            </div>
            <div class="card mt-3">
              <div class="card-body">
                <img src="../../../assets/images/java-img.svg"/> Java Programming
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="language-list">
            <div class="card mt-3">
              <div class="card-body">
                <img src="../../../assets/images/js.png"/>&nbsp;&nbsp; JavaScript
              </div>
            </div>
            <div class="card mt-3">
              <div class="card-body">
                <img src="../../../assets/images/python-img.svg"/> Python Programming
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 mt-5 text-center">
      <!-- <img src="../../../assets/images/thingking.png" class="img1 d-block mx-auto"/> -->
      <img src="../../../assets/images/tree.png" class="w-25" style="margin-top: -40px;"/>
      <img src="../../../assets/images/sn.svg" style="width:60%"/>
    </div>
    <div class="col-lg-6 text-center">
      <p class="fw-normal mTop6">Sharpen your analytical thinking and problem-solving abilities as you tackle algorithmic puzzles and implement efficient solutions.</p>
      <p class="fw-normal">Take your programming skills to the next level with Team DSA. Start your journey today and unlock the power of data structures and algorithms to become a confident and efficient developer. Sign up now and embark on a transformative learning experience!"</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row .mTop3">
    <div class="col-lg-4 mTop5 mBottom2 mx-auto">
        <div class="card free">
          <!-- <div class="bdge-block-right"></div> -->
          <div class="bdge-block-left">
            <div class="plan-text"><small>Plan</small></div>
          </div>
          <div class="card-body">
          <h2 class="fw-medium text-center">Free</h2>
          <hr>
          <p><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp; <span>Simple DSA examples</span></p>
          <p><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp; <span>DSA Concepts</span></p>
          <p><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp; <span>DSA Theory</span></p>
          <p><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp; <span>DSA Diagram</span></p>
          </div>
        </div>
    </div>
    <div class="col-lg-4 mTop5 mBottom2 mtop7 mBottom7 mx-auto">
        <div class="card paid">
          <div class="bdge-block-right">
            <div class="plan-text"><small>Plan</small></div>
          </div>
          <div class="card-body">
          <h2 class="fw-medium text-center">Paid</h2>
          <hr>
          <p><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp; <span>Four different language support</span></p>
          <p><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp; <span>Real world examples</span></p>
          <p><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp; <span>You can buy code from us in any language</span></p>
          <p><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp; <span>Life Time Access</span></p>
          </div>
        </div>
    </div>
  </div>
</div>
<footer class="footer">
  <p class="footer-text">&copy; 2023 Created by Team DSA</p>
</footer>
