<mat-toolbar style="background-color:#ADEFD1FF">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>DSA</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>
 
<div class="container">
  <div class="row">
    <div class="col-lg-6 mt-5">
      <!-- <mat-card>
        <mat-card-content> -->
          <h1 class="fw-semibold" style="color: #00203F">Welcome to Team DSA</h1> 
          <p class="fw-normal"> Your comprehensive resource for mastering Data Structures and Algorithms! Whether you're a beginner seeking a solid foundation or an experienced programmer looking to enhance your problem-solving skills, we've got you covered.
          </p>
        <!-- </mat-card-content>
      </mat-card> -->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mt-5"></div>
    <div class="col-lg-6 mt-5">
      <p class="fw-normal">Our carefully curated content provides in-depth explanations and practical examples of various data structures.including arrays, linked lists, stacks, queues, trees, and graphs. Gain a deep understanding of fundamental algorithms such as sorting, searching, and graph traversal, and learn how to optimize your code for efficiency.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mt-5">
      <p class="fw-normal">We believe in a hands-on approach to learning. That's why we offer interactive coding with real world scenarios in four different programming languages: Python, Java, C++, and JavaScript. With these language options, you can choose the one that aligns with your preferences to broaden your skill set.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mt-5"></div>
    <div class="col-lg-6 mt-5">
      <p class="fw-normal">Sharpen your analytical thinking and problem-solving abilities as you tackle algorithmic puzzles and implement efficient solutions.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mt-5">
      <p class="fw-normal">Take your programming skills to the next level with Team DSA. Start your journey today and unlock the power of data structures and algorithms to become a confident and efficient developer. Sign up now and embark on a transformative learning experience!"</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mt-5">
      <mat-card>
        <mat-card-content>
          <h4 class="fw-medium text-center">Free version</h4>
          <p><i class="fa fa-check-circle" aria-hidden="true"></i></p>
          <p><i class="fa fa-check-circle" aria-hidden="true"></i></p>
          <p><i class="fa fa-check-circle" aria-hidden="true"></i></p>
          <p><i class="fa fa-check-circle" aria-hidden="true"></i></p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-6 mt-5">
      <mat-card>
        <mat-card-content>
          <h4 class="fw-medium text-center">Paid version</h4>
          <p><i class="fa fa-check-circle" aria-hidden="true"></i></p>
          <p><i class="fa fa-check-circle" aria-hidden="true"></i></p>
          <p><i class="fa fa-check-circle" aria-hidden="true"></i></p>
          <p><i class="fa fa-check-circle" aria-hidden="true"></i></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row ">
    <div class="col-lg-4 mt-5 mx-auto mb-5">
      <mat-card>
        <mat-card-content>
          <h3 class="fw-medium text-center">Join our newsletter for the latest updates.</h3> 
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter Email Address" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="button" id="button-addon2">Button</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

